
@{
    ViewBag.Title = "BuySuccess";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<body style="align-items:center">
    <h10>Mua hàng thành công</h10>
    <h11>Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi</h11>
    <a href="@Url.Action("Index","Home")">Trở về trang chủ</a>
</body>
